
{% extends 'template.html.twig' %}


{% block body %}

	 
<hr class="featurette-divider">
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-12">
    


          <h2>Información de Interés</h2>

         
         
         <P>Ventajas de realizar nuestros cursos</P>

<p>Debido a obligaciones y compromisos de  todos los dias, cada vez es más  difícil encontrar el tiempo para asistir adiestramientos formativos. La tecnología nos ayuda a estar más cerca del conocimiento. Haciendo la vida más fácil para usted hemos diseñado estas formaciones cortas donde tendrá 

horarios flexibilidad,  cursos económicos donde puede realizar tantos modulos como usted desee  y  si tiene cualquier duda puede contactarnos.</p>
<p>Lo mejor de la enseñanza online es que puede aprender a su  ritmo, solo necesita tener pasión por lo que quiere aprender.</p>

<p>Un programa online siempre se verá bien en su currículum vitae, ya que evidencia que está comprometido con el aprendizaje, que desea adquirir más conocimientos y nuevas habilidades.</p>
<p>Al optar por la enseñanza virtual no

 tendrá que preocuparse si no puedo asistir a clase, ni por el transporte, ni por el dinero para trasladarse. Tampoco será un problema las distancias geográficas.</p>
<p>Si está considerando realizar una formación online  consulte nuestros programas que pueden ser de su interés.</p>
		  
        </div><!-- /.col-lg-4 -->
      
        
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

     

      

     
      
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
{% endblock %}