
{% extends 'template.html.twig' %}


{% block body %}

	 
<hr class="featurette-divider">
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-12">
    


          <h2>Información de Interés</h2>

          <p>Inicios de la Seguridad y Salud en el trabajo....</p>

<p>El trabajo siempre ha sido una obligación pero también una fuerza generadora de accidentes y enfermedades profesionales, por lo que el trabajador debe buscar la manera de cumplir con medidas de salud y de seguridad que le permitan realizar su labor en condiciones que le garanticen un desarrollo físico normal para su desempeño integral. De igual forma el empresario debe garantizar un medio ambiente adecuado, óptimo y a su vez cumplir con las normativas relacionadas al trabajo en cada país.</p>

<p>Por todos es conocido que desde hace muchas épocas y si se quiere hasta remota, el hombre ha tendido a preservar su bienestar físico y mental, en este proceso el hombre pudo haber probado y observado algunas medidas de higiene y seguridad con la finalidad de sentirse más seguro, al verse asediado por condiciones inseguras a las que pudieron estar sujetos cual fuera el trabajo que desempeñara. Se tuvieron que ir creando técnicas, procedimientos, manuales y estrategias  que hicieran los trabajos mucho más seguros y así se fue creando un tipo de consciencia sobre la salud y la seguridad, consolidandose  con la aparición de leyes que regulan los procedimientos de trabajo como lo conocemos actualmente</p>
		  
        </div><!-- /.col-lg-4 -->
      
        
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

     

      

     
      
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
{% endblock %}