
{% extends 'template.html.twig' %}


{% block body %}

	 
<hr class="featurette-divider">
<div class="container marketing">
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-12">
    


          <h2>Sobre Nosotros</h2>

          <p>"Soluciones integrales de Recursos Humanos" está dirigida a gestionar todos los aspectos del recurso más importante de su empresa *las personas*.<p>

<p>Somos un grupo de profesionales especialistas en la gestión del Capital Humano con muchos años de experiencia adquirida en empresas de diversos sectores, así como también en el campo de la docencia, dispuestos a satisfacer sus necesidades , ofreciendo soluciones adaptadas a cada caso en particular en diferentes áreas como riesgos laborales, bienestar laboral, reclutamiento , selección de personal, administración de personal, manuales de funciones, manuales de procedimiento.</p>

<p>Adicionalmente brindamos la capacitación y formación en estas áreas así como también ofrecemos el servicio de consultas y asesorías en el cumplimiento de sus obligaciones por las leyes en cualquier parte del mundo</p>
		  
        </div><!-- /.col-lg-4 -->
      
        
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

     

      

     
      
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
{% endblock %}