
{% extends 'template.html.twig' %}


{% block body %}

	


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-6">
    <i class="fa fa-info-circle fa-3x"></i>


          <h2>Gestión de Capital Humano</h2>

          <p><i class="fa fa-quote-left fa-2x fa-pull-left fa-border"></i>Gestión de riesgos laborales</p>
		  <p>Reclutamiento y selección.</p>
		  <p>Manuales de funciones (descripción de cargo)</p>
		  <p>Manuales de procedimientos</p>
		  <p>Administración de Personal </p>          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6">  
        
        <i class="fa fa-share-alt fa-3x"></i>
        
          <h2>Consultas y Asesorias</h2>
          <p><i class="fa fa-quote-left fa-2x fa-pull-left fa-border"></i>Este servicio consiste en brindarle el  apoyo necesario para hacer más eficiente su operación, llevándolo de la mano en todos los trámites y documentación relacionados a la gestión de recursos humanos</p>
          <p>Para cualquier consulta nuestro correo solucionesintegraleshumano@gmail.com</p>
          
        </div><!-- /.col-lg-4 -->
        
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

     

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Formación  y  <span class="text-muted">Capacitación</span></h2>
          <p class="lead">Cada dia se hace más necesario administrar el tiempo, por lo que hemos diseñado programas de formación y capacitacion online, para empresas o personas particulares que permita aprender y actualizarse  en esta área</p>
        </div>
        <div class="col-md-5 col-md-pull-7 text-center" style="margin-top:100px">
          <i class="fa fa-users" style="font-size:120px"></i>

        </div>
      </div>

      
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
{% endblock %}